.portfolio {
  position: relative;
}
.projekti-section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: visible;
  color: white;
}

.projekti {
  position: relative;
  overflow: visible; /* Ensure parent doesn't block sticky behavior */
}
.projekti h1 {
  color: white;
}
.progress {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  color: var(--secondaryColor);
  z-index: 5; /* Make sure it's above other content */
  width: 100%;
  font-size: 2rem;
  font-family: var(--fontFamily-main);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .progress {
    padding-top: calc(100vh - 4rem);
  }
  .progress h1 {
    font-size: 1.7rem;
  }
}
.progressBar {
  height: 10px;
  background-color: white;
}
.projekti-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  font-family: var(--fontFamily-main);
}
.projekti-wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 6.5rem;
}
@media (max-width: 768px) {
  .projekti-wrapper {
    flex-direction: column;
    padding: 1rem 3rem;
  }
}
.projekti-imageContainer {
  height: 90%;
  width: 40%;
  display: flex;
  justify-self: center;
  align-items: center;
}
@media (max-width: 768px) {
  .projekti-imageContainer {
    width: 100%;
    height: 45%;
    max-height: 24rem;
    margin-top: 2rem;
  }
}
.projekti-imageContainer img {
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

@media (max-width: 768px) {
  .projekti-imageContainer img {
    object-fit: contain;
  }
}

.projekti-textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  align-items: center;
  height: 40%;
}

@media (max-width: 768px) {
  .projekti-textContainer {
    transform: none !important;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
}

.projekti-textContainer h2 {
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .projekti-textContainer h2 {
    font-size: 1.3rem;
    max-width: 100%;
  }
}

.projekti-textContainer p {
  color: gray;
  font-size: 20px;
}

@media (max-width: 768px) {
  .projekti-textContainer p {
    font-size: 1rem;
  }
}

.projekti-textContainer button {
  position: relative;
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 100;
}

.projekti-textContainer ul {
  list-style-type: none;
  padding-left: 25%;
}

.projekti-textContainer li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
}
.tech-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
/* added line */

.timeline-line {
  position: absolute;
  top: 0;
  right: 5%;
  width: 4px;
  height: 100%;
  background-color: white;
  z-index: 1;
  padding-top: 11rem;
}

.timeline-date {
  position: absolute;
  right: 5%;
  text-align: center;
  font-size: 1.3rem;
  color: var(--mainColor);
  background-color: white;
  width: 60px;
  border-radius: 5px 0 0 5px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .timeline-date {
    margin-bottom: 150%;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-media {
  max-width: 90%;
  max-height: 500px;
  border-radius: 8px;
}

.prev-btn,
.next-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  margin-right: 10px;
}

.next-btn {
  margin-left: 10px;
}

/* Video specific styling */
.preview-video {
  width: 100%;
  max-width: 80%;
  max-height: 500px;
  border-radius: 8px;
}

.gallery-description {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}
