.toggle {
  width: 60px;
  height: 32px;
  background: var(--border);
  border-radius: 50px;
  padding: 4px;
  border: none;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 24px;
  height: 24px;
  background: var(--accent);
  border-radius: 50%;
}
